@import url("fonts/roboto-bold.ttf");
*{
    color:white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 4px 4px 8px black;
    position: relative;
}
h1 {
    color:white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 4px 4px 8px black;
}
h4 {
    color:white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 4px 4px 8px black;
}
body {
    background-color: rgb(0, 151, 156);
}
.seperator {
    border: 5px solid white;
}
.gen {
    color:black;
    font-family: 'Roboto',sans-serif;
    width:230px;
    height:40px;
    border:none;
    outline: none;
}
.extra {
    color:white;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding:10px;
}
.generate {
    text-shadow: none;
    width:200px;
    height:100px;
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    border: 4.5px solid black;
    border-radius: 10px;
    transition: all 0.3s;
}
.generate:hover {
    width:210px;
    height:110px;
    top:-1.5px;
}
.generate:active {
    width:195px;
    height:95px;
    top:1.5px;
}
.clear {
    color:black;
    text-shadow: none;
}